
<div>

	<%= image_tag "your face here.gif" %>
	<br>
	<strong>Amanda Bryan</strong>,&nbsp;
	<span style="line-height:1.25;font-size:10pt">Chair/Facilitator</span>
</div>
<div>
	<i>Jackson Place</i>
</div>

<div>
	<br>
</div>
<div>

</div>

<div>
	<%= image_tag "your face here.gif" %>
	<br>
	<strong>Meg Konkol</strong>,&nbsp;
	<span style="line-height:1.25;font-size:10pt">Secretary/Website Administrator</span>
	<article>
		Meg Konkol earned her degree in Anthropology at Oregon State University in 2002. On graduating, she worked for the local homeless shelter,&nbsp;gaining valuable experience&nbsp;serving vunerable populations throughout the community.&nbsp;Meg&nbsp;later moved to Portland, OR,&nbsp;where she worked for a major construction management firm and volunteered&nbsp;for a local non-profit for four years, serving as chair for two. Meg relocated to the Seattle Central&nbsp;Area in 2012, resides in Garfield Community and serves on the Garfield Community Council. 
	</article>
	<div>
		<br>&nbsp;
	</div>

	<div>
		<%= image_tag "your face here.gif" %>
		<h6>Bill Bradburd</h6>
	</div>
	<div>
		<span style="line-height:1.25;font-size:10pt">
		</span>
	</div>
	<article align="justify">Bill Bradburd is a retired information systems consultant who became interested land use issues a few years ago as changes and gentrification began disrupting his neighborhood, Jackson Place, near Little Saigon.   Besides being active with his community council and district council, he chairs the Seattle Neighborhood Coalition, is co-chair of the City Neighborhood Council Budget Committee, and provides guidance to community groups around the city.
	</article>
	<div>
		<br>
	</div>


	<div>
		<%= image_tag "your face here.gif" %>
		<h6>Jeff Floor</h6>
	</div>
	<div>
		<br>
	</div>

	<div>
		<%= image_tag "your face here.gif" %>
		<h6>Stephanie Johnson-Tolliver</h6>
	</div>
	<div>
		<br>
	</div>

	<div>
		<%= image_tag "your face here.gif" %>
		<h6>Mike Kent</h6>
	</div>
	<div>
		Mike Kent is a resident of the Central Area and an urban planner. He moved to Seattle from New York City in 2009. He has worked in the non-profit, public, and private sectors, and he was formerly a community leader in Capitol Hill
	</div>
	<div>&nbsp;
	</div>
	<br>

	<div>
		<%= image_tag "your face here.gif" %>
		<h6>Jonathan Konkol, AICP</h6>
	</div>
	<div>
		Jonathan Konkol is an urban planner and architect.  Hailing from Portland Oregon, Jonathan moved to the central district when he came to Seattle to attend the University of Washington.  Jonathan earned a Master of Urban &amp; Regional Planning from Portland State and is completing a Master of Architecture at UW. He believes that equity, social justice and ecological sustainability are the foundation of good planning and design.  Jonathan lives with his wife Meg in the Garfield neighborhood, where he serves on the Garfield Community Council.&nbsp; 
	</div>
	<div>
		<br>
	</div>

	<div>
		<br>
		<%= image_tag "your face here.gif" %>
		<h6>Michael Moedritzer</h6>
	</div>
	<div>
		Mike Moedritzer grew up in St. Louis.  He has a bachelor's degree in Architecture from Washington University Architecture School in 1981, and a Master's Degree in Architecture with an Urban Design Certificate from the University of Washington in 1988.  He has worked as an architect in Seattle for a number of firms, designing mostly low-income housing, including the Seattle Housing Authority's Rainier Vista redevelopment.  He has also done civic duty volunteering on citizen advisory panels helping the City of Seattle develop the original design review process, rewrite land use code for commercial and multi-family zones, and write neighborhood-specific design guidelines for the University District.  He currently works at GGLO Architecture.  Mike's ties to the Central District began with his three kids at Washington Middle School and later Garfield High School.  He's lived in Colman Park since 2004.
	</div>
	<div>
		<br>
	</div>

	<div>
		<%= image_tag "your face here.gif" %>
		<h6>Bryan Sanders</h6>
	</div>
	<div>
		<br>
	</div>

	<div>
		<%= image_tag "your face here.gif" %>
		<h6>Bill Zosel</h6>
	</div>
	<div>
		Bill Zosel has lived in the Central Area since 1979.  He has participated in the community council for his neighborhood, Squire Park, for much of that time.  He participated in the process that produced the Central Area Neighborhood Plan and, in particular, the Neighborhood Plan for the 12th Avenue Urban Center Village. Since the adoption of the Neighborhood Plan he has participated in the stewardship committee for the 12th Avenue Plan. The inspiration to take part in the neighborhood arose in 1992 when he saw the results of neighbors getting together to forge an agreement among the community, the City of Seattle, and Seattle University that changed the course of development in the neighborhood in a significant and positive way
	</div>
	<div>
		<br>
	</div>
	<div>
		<br>
	</div>
</div>
</div>

























